body{
  background-color: black;
}
nav{
  width: 100%;
  height: 5%;
  font-size: 20px;
  color: white;
  vertical-align: middle;
  margin-top: 1%;
  margin-bottom: 1%;
}
#nav-bar, #game-controller, #results{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#game-controller{
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
.nav{
  margin-right: 40px;
  margin-left: 40px;
}
#end-game{
  margin-top: 10%;
}
#timer{
  margin-right: 5px;
  margin-left: 5px;
}
/*#bar{
  background-color: white;
  display: block;
  width: 150px;
  height: 35%;
  border-radius: 5px;
  vertical-align: middle;
  margin-top: 5%;
}*/
.wpm{
  margin-top: 5%;
  display: inline;
}

#canvas-container{
  position: relative;
}

#bottom-logic{
  width: 73%;
  height: 70px;
  margin: 1% auto;
}
#typing-text, #user-input {
  /*border: 3px solid blue;*/
  background-color: white;
  border-radius: 5px;
  width: 100%;
  white-space: nowrap;
  margin: 0px auto;
}
#user-input{
  border-top: none;
}
#text, #user-typing {
  margin: 20px auto;
  width: 90%;
  overflow: hidden;
  font-size: 25px;
  display: block;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
}



.clearfix:after{
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.correct-highlight{
  color: #5f5959;
  background-color: #dadada;
}

.incorrect-highlight{
  color: red;
  background-color: #ffd2dc;
}

.highlight{
  background-color: yellow;
  text-decoration: underline;
}
.images{
  display: none;
}
#progress{
  position: relative;
  width: 150px;
  height: 30px;
  background-color: grey;
  border-radius: 5px;
  margin-top: 5%;
}
#bar{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 5px;
}
