#typing-text{
  border: 1px solid blue;
  width: 80%;
  white-space: nowrap;
  margin: 10px auto;
}
p {
  margin: 10px auto;
  width: 90%;
  overflow: hidden;
}
#user-input{
  width: 80%;
  height: 70px;
  margin: 10px auto;
  border: 1px solid darkblue;
}
input{
  width: 90%;
  height: 50px;
  margin: 10px auto;
  border: 1px solid black;
  /*will need to delete border here */
  display: block;
}
input:focus {
  outline: none;
}
#canvas-container{
  margin: 20px auto;
  position: relative;
}
#canvas{
  border: 2px solid black;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.correct-highlight{
  color: #5f5959;
  background-color: #dadada;
}

.incorrect-highlight{
  color: red;
  background-color: #ffd2dc;
}

.highlight{
  background-color: yellow;
  text-decoration: underline;
}
